
.DS_Store

client/dist/*

node_modules/*

client/test-reports/*

client/docs/*

client/assets/js/components/*

client/cache.manifest

.idea/*

*.iml

client/index.html

libpeerconnection.log

dist

api/data/db/*
