<div class="text-centered">
  
  <div class="form">
    <div class="row tsz-form-row">
      <div class="col-sm-12">  
         <h2>{{demo.text}}</h2>
      </div>
    </div>

    <div class="row tsz-form-row">
      <div class="col-sm-12">
        <input type="text" ng-model="demo.text" class="form-control"/>
      </div>
    </div>
    <div class="row tsz-form-row">
      <div class="col-sm-12">
        <input type="text" ng-model="demo.text" class="form-control"/>
      <div>
    </div>
  </div>

</div>
