html(class="no-js", ng-app="main")
  head
    base(href="/")
    title(ng-bind-template="Timesheetz") Timesheetz
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="description", content="Timesheet Demo Application")

    - if (env == 'production')
      link(href="/assets/css/style.min.css", rel="stylesheet", type="text/css")
    - else
      link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

    body(ng-controller="MainCtrl")
      .tsz-page-container(ng-cloak)
        div(ui-view="navbar")
        div(ui-view="content")
        div(ui-view="login")
            
    include ../templates/scripts