<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-clock-o fa-lg"></i>
        {{$state.current.data.title}}
      </a>
    </div>
    <ul ng-if="authenticated" class="nav navbar-nav navbar-left">
      <li ng-class="{active: $state.includes('app.projects')}">
        <a ui-sref="app.projects">Projects</a>
      </li>
      <li ng-class="{active: $state.includes('app.employees')}">
        <a ui-sref="app.employees">Employees</a>
      </li>
      <li ng-class="{active: $state.includes('app.timesheets')}">
        <a ui-sref="app.timesheets({user_id: loggedInUser._id})">Timesheets</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="navbar-brand logout" ng-click="logout()">  
          <i class="fa fa-power-off"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>