<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-clock-o fa-lg"></i>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a ng-href="/projects">Projects</a>
      </li>
      <li>
        <a ng-href="/employees">Employees</a>
      </li>
      <li>
        <a ng-href="/timesheets">Timesheets</a>
      </li>
    </ul>
  </div>
</div>