<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-clock-o fa-lg"></i>
        <!-- TODO : bind the brand text to $state.current.data.title -->
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">

      <!-- TODO : set up the nav bar link for projects
        1. Set the active class if the current state includes app.projects
        2. Set the link's ui-sref to app.projects-->
      <li>
        <a>Projects</a>
      </li>

      <!-- TODO : set up the nav bar link for employees
        1. Set the active class if the current state includes app.employees
        2. Set the link's ui-sref to app.employees-->
      <li>
        <a>Employees</a>
      </li>

      <!-- TODO : set up the nav bar link for timesheets
        1. Set the active class if the current state includes app.timesheets
        2. Set the link's ui-sref to app.timesheets-->
      <li>
        <a>Timesheets</a>
      </li>
    </ul>
  </div>
</div>