html(class="no-js")
  head
    base(href="/")
    title Timesheetz

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, maximum-scale=1, minimum-scale=1")
    meta(name="description", content="Timesheet Demo Application")

    link(href="/assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .tsz-page-container.ui.padded
      .ui.message.yellow
        .ui.large.header Welcome to the ReactJS Workshop

      .ui.message.yellow
        .ui.medium.header Let's Learn Us Some React/Flux
