<div class="tsz-employee-form" ng-show="true" class="animate-show">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" name="employeeForm">

        <div class="form-group">
          <div tsz-field-wrap input-id="employee-username" label="Username">
            <input type="text" class="form-control" 
              name="employee-username" placeholder="Employee Username"
              ng-model="employee.username">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="employee-email" label="Email">
            <input type="text" class="form-control" 
              name="employee-email" placeholder="Employee Email"
              ng-model="employee.email">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="employee-firstName" label="First Name">
            <input type="text" class="form-control" 
              name="employee-firstName" placeholder="First Name"
              ng-model="employee.firstName">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="employee-lastName" label="Last Name">
            <input type="text" class="form-control" 
              name="employee-lastName" placeholder="Last Name"
              ng-model="employee.lastName">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="employee-admin" label="Admin">
             <button type="button" class="btn btn-primary" 
                ng-model="employee.admin" 
                btn-checkbox 
                btn-checkbox-true="true" 
                btn-checkbox-false="false">{{employee.admin}}</button>
          </div>
        </div>

        <div class="row">
          <hr/>
        </div>

        <div class="row">
          <div class="col-sm-2 col-sm-offset-8">
            <button class="btn btn-primary btn-block" 
              ng-click="save()">{{saveText}}</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
