<div class="tsz-employee-list">
  <div ng-show="$state.is('app.employees')" class="animate-show">
    <div class="row tsz-form-row">
      <div class="col-sm-2 pull-right">
        <button class="btn btn-primary btn-block" type="button" ng-click="createNew()">
          <i class="icon-plus"></i>
          New Employee
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Admin</th>
              <th  class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in pageConfig.data" 
              class="fadeable-row"
              ng-class="{faded: employee.deleted}"
              ng-click="showDetail(employee)">

              <td>{{employee.username}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.admin}}</td>
              <td>
                <div ng-switch="employee.deleted">
                  <div ng-switch-when="true">
                    <button class="btn btn-sm btn-default" ng-click="restore(employee); $event.stopPropagation();">Restore</button>
                  </div>
                  <div ng-switch-default>
                    <button class="btn btn-sm btn-danger" ng-click="remove(employee); $event.stopPropagation();">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- TODO : Add UI Bootstrap pagination to the table -->

  </div>

  <div ui-view></div>
</div>
