<div class="tsz-employee-list">
  <!-- TODO : set up to only show this container when state is app.employees -->
  <div>
    <div class="row tsz-form-row">
      <div class="col-sm-2 pull-right">
        <!-- TODO : Add a button that calls createNew when clicked -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Admin</th>
              <th  class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>

            <!-- TODO : set the row to call showDetail(employee) when clicked -->
            <tr ng-repeat="employee in employees" 
              class="fadeable-row"
              ng-class="{faded: employee.deleted}">

              <td>{{employee.username}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.admin}}</td>
              <td>
                <div ng-switch="employee.deleted">
                  <div ng-switch-when="true">
                    <button class="btn btn-sm btn-default" ng-click="restore(employee); $event.stopPropagation();">Restore</button>
                  </div>
                  <div ng-switch-default>
                    <button class="btn btn-sm btn-danger" ng-click="remove(employee); $event.stopPropagation();">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!-- TODO : set a ui-view for nested states -->
</div>
