<div class="tsz-timesheet-detail">
  <div ng-show="$state.is('app.timesheets.detail')">
    <div class="row">
      <div class="col-xs-12">
        <form name="systemCategoryEdit" novalidate class="form-horizontal">
        
          <!-- TODO : Set a header for Timesheet Details -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div tsz-static-field label="Name" label-col="4" 
                field-col="8" value="{{timesheet.name}}"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div tsz-static-field label="Description" label-col="4" 
                field-col="8" value="{{timesheet.description}}"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div tsz-static-field label="Begin Date" label-col="4" 
                field-col="8" value="{{timesheet.beginDate}}"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div tsz-static-field label="End Date" label-col="4" 
                field-col="8" value="{{timesheet.endDate}}"></div>
              </div>
            </div>
          </div>

          <!-- TODO : Set a header for Timesheet Progress -->

          <!-- TODO : Place the progress bar directive here
            1. hours-worked attribute calls the hoursWorked controller function
            2. hours-required attribute calls the hoursRequired controller function
            3. report attribute passes in percentComplete to the reportStatus controller function
          -->

          <div class="row">
            <div class="col-sm-2 col-sm-offset-8">
              <button type="button" class="btn btn-primary btn-block" ng-click="edit(timesheet)">Edit</button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="row">
      <hr/>
    </div>

    <!-- Place a Time Units section header here that also wraps the button for logging time -->
    
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 pull-right">
        <button type="button" class="btn btn-primary btn-block" ng-click="logTime()">Log Time</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="tsz-responsive-table-container">
          <table class="table table-bordered table-hover tsz-table-row-cursor">
            <thead>
              <tr>
                <th>Project</th>
                <th>Date Worked</th>
                <th>Hours</th>
                <th class="tsz-table-delete-column">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="timeunit in timeunits" ng-click="showTimeunitDetail(timeunit)" 
                class="fadeable-row"
                ng-class="{faded: timeunit.deleted}">
                
                <td>{{timeunit.project}}</td>
                <td>{{timeunit.dateWorked}}</td>
                <td>{{timeunit.hoursWorked}}</td>
                <td>
                  <div ng-switch="timeunit.deleted">
                    <div ng-switch-when="true">
                      <button class="btn btn-sm btn-default" ng-click="restoreTimeunit(timeunit); $event.stopPropagation();">Restore</button>
                    </div>
                    <div ng-switch-default>
                      <button class="btn btn-sm btn-danger" ng-click="removeTimeunit(timeunit); $event.stopPropagation();">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div ui-view></div>
</div>
