<div class="tsz-timesheet-form" ng-cloak>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" name="timesheetForm">

        <div class="form-group">
          <div tsz-field-wrap input-id="timesheet-name" label="Name">
            <input type="text" class="form-control" 
              name="timesheet-name" placeholder="Timesheet Name"
              ng-model="timesheet.name">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="timesheet-description" label="Description">
            <input type="text" class="form-control" 
              name="timesheet-description" placeholder="Timesheet Description"
              ng-model="timesheet.description">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="timesheet-beginDate" label="Begin Date">
            <div class="input-group">
              <input type="text" class="form-control" 
                datepicker-popup="MM/dd/yyyy"
                ng-model="timesheet.beginDate"  
                show-weeks="false"
                show-button-bar="false"
                ng-required="true" 
                close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <i class="fa fa-fw fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="timesheet-endDate" label="End Date">
            <div class="input-group">
              <input type="text" class="form-control" 
                datepicker-popup="MM/dd/yyyy"
                ng-model="timesheet.endDate"  
                show-weeks="false"
                show-button-bar="false"
                min="timesheet.beginDate"
                ng-required="true" 
                close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <i class="fa fa-fw fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <hr/>
        </div>

        <div class="row">
          <div class="col-sm-2 col-sm-offset-8">
            <button class="btn btn-primary btn-block" 
              ng-click="save()">{{saveText}}</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
