<div class="tsz-timesheet-list">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Begin Date</th>
              <th>End Date</th>
              <th>Name</th>
              <th>Description</th>
              <th class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>

            <!-- TODO : Create the timesheet table
              1. set the repeater to each timesheet in timesheets
              2. set the class, faded, to be dependent upon timesheet.deleted
              3. bind the <td>'s to the properties on timesheet -->
            <tr class="fadeable-row">

              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>

                <!-- TODO : Optionally show a delete or restore button
                  1. use ng-switch on timesheet.deleted 
                  2. if the timesheet is deleted, show the restore button
                  3. if the timesheet is not deleted, show the delete button
                  3. set up the restore button to call restore(timesheet) when clicked
                  4. set up the delete button to call remove(timesheet) when clicked -->

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
