<div class="tsz-project-form" ng-cloak>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" name="projectForm">

        <div class="form-group">
          <div tsz-field-wrap input-id="project-name" label="Name">

            <!-- TODO : set this input's model to project.name -->
            <input type="text" class="form-control" 
              name="project-name" placeholder="Project Name">
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="project-description" label="Description">

            <!-- TODO : set this input's model to project.description -->
            <input type="text" class="form-control" 
              name="project-description" placeholder="Project Description">
          </div>
        </div>

        <div class="row">
          <hr/>
        </div>

        <div class="row">
          <div class="col-sm-2 col-sm-offset-8">

            <!-- TODO : bind this button's text to saveText and have it call save when clicked -->
            <button class="btn btn-primary btn-block"></button>
          </div>
          <div class="col-sm-2">

            <!-- TODO : set this button to call cancel when clicked -->
            <button class="btn btn-danger btn-block">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
