<div class="tsz-project-form" ng-cloak>
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" novalidate name="projectForm">

        <div class="form-group">
          <div tsz-field-wrap input-id="project-name" label="Name">
            <input type="text" class="form-control" 
              name="project-name" placeholder="Project Name"
              ng-model="project.name" 
              ng-minlength="1" ng-maxlength="40" required>
          </div>
        </div>

        <div class="form-group">
          <div tsz-field-wrap input-id="project-description" label="Description">
            <input type="text" class="form-control" 
              name="project-description" placeholder="Project Description"
              ng-model="project.description" 
              ng-minlength="1" ng-maxlength="255" required>
          </div>
        </div>

        <div class="row">
          <hr/>
        </div>

        <div class="row">
          <div class="col-sm-2 col-sm-offset-8">
            <button class="btn btn-primary btn-block" 
              ng-click="save()"
              ng-disabled="projectForm.$invalid">{{saveText}}</button>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-danger btn-block" ng-click="cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
