<div class="tsz-project-list">

  <!-- TODO : set the below container div to only show when state is app.projects -->
  <div>
    <div class="row tsz-form-row">
      <div class="col-sm-2 pull-right">
        <!-- TODO : add a button that calls createNew when clicked -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>

            <!-- TODO : set the row to call showProject(project) when clicked -->
            <tr ng-repeat="project in projects" 
              class="fadeable-row"
              ng-class="{faded: project.deleted}">

              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
              <td>
                <div ng-switch="project.deleted">
                  <div ng-switch-when="true">
                    <button class="btn btn-sm btn-default" ng-click="restore(project); $event.stopPropagation();">Restore</button>
                  </div>
                  <div ng-switch-default>
                    <button class="btn btn-sm btn-danger" ng-click="remove(project); $event.stopPropagation();">Delete</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  
  <!-- TODO : set a ui-view for nested states -->
</div>
