<div class="tsz-project-list">
  <div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered table-hover tsz-table-row-cursor">
           <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th class="tsz-table-delete-column">Delete</th>
            </tr>
          </thead>
          <tbody>

            <!-- TODO : Create the project table
              1. set the repeater to each project in projects
              2. set the class, faded, to be dependent upon project.deleted
              3. bind the <td>'s to the properties on project -->
            <tr class="fadeable-row">

              <td></td>
              <td></td>
              <td>

                <!-- TODO : Optionally show a delete or restore button
                  1. use ng-switch on project.deleted 
                  2. if the project is deleted, show the restore button
                  3. if the project is not deleted, show the delete button
                  3. set up the restore button to call restore(project) when clicked
                  4. set up the delete button to call remove(project) when clicked -->
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
